<div class="bg-image">
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur quis earum atque quo vel voluptatibus minima nostrum quas dolore praesentium eum sit aliquid consectetur quisquam quibusdam est dolorum, molestias nemo. Obcaecati pariatur quod ipsam nam.</p>
</div>
<app-best-seller></app-best-seller>

<div class="wrapper sticky">
  <nav class="navbar-fixed-top">
    <a href="#" class="logo">
     Cafe Management System
    </a>
    <ul>
      <li>
        <a id="login" routerLink="/login">Login</a>
      </li>
    </ul>
    
  </nav>
</div>
<div class="footer" id="signup">
  <h2>All right reserved @BTech Days</h2>
</div>