<div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="card bg-dark my-5">
          <div class="card-body">
            <h2 class="card-title text-center text-white py-3">{{ title }}</h2>
            <ul class="text-center list-inline py-3">
              <li class="list-inline-item">
                <a routerLink="menulist" class="btn btn-info">List Menu Item</a>
                  </li>
              <li class="list-inline-item">
                <a routerLink="addmenu" class="btn btn-info">Add Menu</a>
                  </li>
            </ul>
            <ul class="text-center list-inline py-3">
              <li class="list-inline-item">
                <a routerLink="orderlist" class="btn btn-info">List Order</a>
                  </li>
              <li class="list-inline-item">
                <a routerLink="addorder" class="btn btn-info">Add Order</a>
                  </li>
              <!--    <li class="list-inline-item">
                    <a routerLink="deletepatient" class="btn btn-info">Delete Order</a>
                      </li>
                      <li class="list-inline-item">
                        <a routerLink="updatepatient" class="btn btn-info">Update Order</a>
                          </li>-->
            </ul>
          <!--  <ul class="text-center list-inline py-3">
              <li class="list-inline-item">
                <a routerLink="medicines" class="btn btn-info">List medicines</a>
                  </li>
              <li class="list-inline-item">
                <a routerLink="addmedicine" class="btn btn-info">Add Medicine</a>
                  </li>
                  <li class="list-inline-item">
                    <a routerLink="deletemedicine" class="btn btn-info">Delete Medicine</a>
                      </li>
                      <li class="list-inline-item">
                        <a routerLink="updatemedicine" class="btn btn-info">Update Medicine</a>
                          </li>
            </ul>
          
            <ul class="text-center list-inline py-3">
              <li class="list-inline-item">
                <a routerLink="appointments" class="btn btn-info">List Apointments</a>
                  </li>
              <li class="list-inline-item">
                <a routerLink="addappointment" class="btn btn-info">Add Appointment</a>
                  </li>
            </ul>-->
          </div>
        </div>
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
  
  
  
  
  
 