<div class="card my-5">
    <div class="card-body">
      <table class="table table-bordered table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Item Id</th>
            <th scope="col">Item Name</th>
            <th scope="col">Price</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of menu">
            <td>{{ user.itemId }}</td>
            <td>{{ user.itemName }}</td>
            <td>{{ user.price }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
